{% extends 'base.html'%}
{% block content %}
<div class="container-fluid landing">
    <div class="row">
                {% for category in history %}
                <div class="col-md-4 d-flex jusify-content-center" style="margin: 1%; width:20%;">
                    <div class="card">
                        <h5 style="color:black; font-size:x-large" class="card-header">{{category.title}}</h5>
                        <div class="card-body">
                                <p style="font-size: larger;">{{category.post}}</p>
                                <p class="text-center"> Category: {{category.category}}</p>
                                <footer class="blockquote-footer text-center" > Posted by: {{category.username}}</footer>
                                <span class="foot" >{{category.comment.count()}} Comments</span> 
                                    <span class="foot" > <a href="{{url_for('main.like',pitch_id = category.id)}}"> <i class="fa fa-thumbs-up" style="font-size:18px;color: green"></i>{{category.upvote.count()}}</a> </span>
									
									
									<span class="foot"> <a href="{{url_for('main.dislike',id = category.id)}}"> <i class="fa fa-thumbs-down" style="color:red;"></i> {{category.downvote.count()}}</a></span>
                                    <a href="{{url_for('main.comment',pitch_id = category.id)}}" class="btn btn-primary"> Comment</a>
                                </div>
                            
                        </div>
                    </div>
                
                {% endfor %}

    </div>
</div>
{% endblock %}