{% extends 'base.html' %}
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    {% endblock %}
{% block content %}
<section>
    <h2>In life, you only have 60 seconds to impress someone. 1 minute can make or break you. How do we make sure that you use your 1 minute to actually say something meaningful?
        This is an application that allows users to use that one minute wisely. You will be able to submit one minute pitches and other users will vote on them and leave comments to give their feedback on them.
    </h2>
</section>
<small class="text-muted">Login to get Started</small>
<!-- <a type="button" class="button" href="{{url_for('auth.login')}}">Get Started</a> -->
{% endblock %}